$backgroundColor: #424242;
$borderColor: #424242;
$headerBackgroundColor: #424242;
$headerBorderColor: #212121;
$headerSeperatorColor: #00b0ff;
$headerTextColor: #eceff1;
$rowBackgroundColor: #424242;
$rowAltBackgroundColor: #424242;
$rowBorderColor: #212121;
$rowTextColor: #eceff1;
$footerBackgroundColor: #424242;
$footerTextColor: #eceff1;
$footerBorderColor: #212121;
$footerSeperatorColor: #00b0ff;
$footerActiveColor: #00b0ff;
$sortArrowActive: #00e5ff;
$sortArrowInactive: #00b0ff;
@import "~tabulator-tables/src/scss/tabulator_simple";
