$self-background-color: #212121 !global;
$self-over-background-color: #424242 !global;
$text-on-black-color: #eceff1 !global;
$text-on-white-color: #000000 !global;
$general-color: #00b0ff !global;
$highlight-general-color: #00e5ff !global;
$red-color: #ff8a80 !global;
$green-color: #81c784 !global;
$yellow-color: #ffe57f !global;
