$self-background-color: #212121;
$self-over-background-color: #424242;
$text-on-black-color: #eceff1;
$text-on-white-color: #000000;
$general-color: #00b0ff;
$highlight-general-color: #00e5ff;
$red-color: #ff8a80;
$green-color: #81c784;
$yellow-color: #ffe57f;